.bg {
  background-image: url("../../assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 458px;
  height: 458px;
  bottom: 100px; 
  border: solid 1px #000000;
}


